.productList{
    padding: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    flex:1 0 190px;
    justify-content: space-between;
}

.cart-background{
    background-color: #fff;
}

.productList__carts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.border{
    width: 100%;
    height: 2px;
    background-color: lightgray;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 810px){
    .cart{
        flex-direction: column;
    }
}

